{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Princial</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}"> -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color: #444;">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Limpa Bem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'principal_principal' %}">Home</a>
                    </li>

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cadastrar_funcionario' %}">Cadastrar atendente/helper</a>
                    </li>
                    {% endif %}

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal_servicos_page' %}">Gerenciar/Cadastrar serviço</a>
                    </li>
                    {% endif %}

                    <li class="navbar-text" style="margin-right: 15px;">
                        Usuário: {{ user.username }}
                    </li>

                    <form action="{% url 'logout' %}">
                        <input class="btn  btn-outline-secondary" type="submit" value="Deslogar" />
                    </form>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="card w-75 shadow d-flex align-items-center" style="margin: auto; margin-top: 15px;">
            <div class="card-body w-75">

                <!-- <p>* O serviço escolhido.

                    * O atendente que fez o cadastro.
                    * O helper que executou o serviço.
                    * O valor pago pelo atendimento (os gerentes tem
                    liberdade para oferecer até 10% de desconto).
                    * A forma de pagamento usada pelo cliente
                    * A data e o horário que foi cadastrado o atendimento.
                    * A data e o horário que vai ocorrer a limpeza.
                    * A situação (pendente, realizado ou cancelado)
                    
                    * Os dados do cliente (nome, telefone e endereço).</p> -->

                <form id="form" accept="#" method="POST" onsubmit="registrar_servico(); return false;">
                    {% csrf_token %}
                    <div class="row">
                        <div class="card-title col-3">
                            <h5>Registrar serviço</h5>
                        </div>
                        <div class="col-8">
                            <button class="btn btn-success btn-sm" id="btn-salvar"
                                form="form"><span>Salvar</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="atendente">Atendente</label>
                            <input type="text" required class="form-control form-control-sm" id="atendente"
                                name="atendente">
                            <label for="situacao">Situação</label>
                            <input type="text" required class="form-control form-control-sm" id="situacao"
                                name="situacao">
                        </div>
                        <div class="form-group col-4">
                            <label for="helper">Helper</label>
                            <input type="text" required class="form-control form-control-sm" id="helper" name="helper">

                            <label for="dth_atendimento">Data/Hora do atendimento</label>
                            <input type="date" required class="form-control form-control-sm" id="dth_atendimento"
                                name="dth_atendimento">

                            <label for="dth_limpeza">Data/Hora da limpeza</label>
                            <input type="date" required class="form-control form-control-sm" id="dth_limpeza"
                                name="dth_limpeza">
                        </div>
                        <div class="form-group col-4">
                            <label for="preco">Preço</label>
                            <input type="text" required class="form-control form-control-sm" id="preco" name="preco">
                            <label for="vpagamento">Forma de pagamento</label>
                            <input type="text" required class="form-control form-control-sm" id="pagamento"
                                name="pagamento">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>